# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
Project1/bin/*
Project2/test1
Project2/part1
Project2/*-udp
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Random things
FinalProject/*

# Emacs
*~
