# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
Project1/bin/*
Project2/test1
Project2/part1
Project2/PART1/*-udp
Project2/PART2/*-tcp
Project2/PART3/*-rpc
Project2/EXTRA/*-nb
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Emacs
*~
